<main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <ng-container *ngIf="metricsData$ | async as datasetsArray">
    <!-- Quick Stats Cards -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-8">
      <app-metric-card *ngFor="let metricsData of datasetsArray" [data]="metricsData">
      </app-metric-card>
    </div>
  </ng-container>

  <!-- Main Dashboard Grid -->
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">

    <!-- Chart Section -->
    <div class="lg:col-span-2">
      <app-chart></app-chart>
    </div>

    <!-- Sidebar -->
    <div class="lg:col-span-1">
      <!-- <app-sidebar></app-sidebar> -->
      <!-- News/Updates -->
      <app-rss-news></app-rss-news>
    </div>

  </div>

  <!-- Bottom Section -->
  <div class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-8">

    <!-- Data Tables -->
    <!-- <app-data-table></app-data-table> -->


  </div>

</main>