<header class="bg-white border-b border-gray-200 shadow-sm">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <a routerLink="/dashboard" class="flex items-center space-x-2">
        <div class="w-10 h-10 rounded-sm flex items-center justify-center">
          <img
            src="https://www.svgrepo.com/show/530439/api-interface.svg"
            alt="API Interface"
            class="w-full h-full object-contain"
          />
        </div>
        <h1
          class="text-xl font-semibold text-gray-900 leading-none self-center -mb-1"
        >
          ESTAT Analytics
        </h1>
      </a>

      <nav class="hidden md:flex space-x-6 items-center">
        <a
          routerLink="/dashboard"
          routerLinkActive="border-b-2 border-blue-600"
          [routerLinkActiveOptions]="{ exact: true }"
          class="text-gray-600 hover:text-blue-600 transition-colors pb-1 border-b-2 border-transparent hover:border-blue-600"
        >
          Dashboard
        </a>

        <a
          routerLink="/dashboard/rss-news"
          routerLinkActive="border-b-2 border-blue-600"
          class="text-gray-600 hover:text-blue-600 transition-colors pb-1 border-b-2 border-transparent hover:border-blue-600"
        >
          RSS News
        </a>
      </nav>

      <div class="flex items-center space-x-3">
        <app-select-menu class="text-gray-600" aria-label="Select country">
        </app-select-menu>

        <button
          class="p-2 text-gray-400 hover:text-gray-600 flex items-center justify-center"
        >
          <mat-icon class="w-5 h-5">person</mat-icon>
        </button>
        <button
          class="p-2 text-gray-400 hover:text-gray-600 flex items-center justify-center"
        >
          <mat-icon class="w-5 h-5">logout</mat-icon>
        </button>
      </div>
    </div>
  </div>
</header>
